$background: #ccb;
$card: white;
$text: #b33;

body{
  height: 100vh;
  background: $background;
}
#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;

  &__segment {
    text-align: center;

    .title{
      padding: 0.75rem;
    }
    .digits {
      display: flex;
      justify-content: center;
      gap: 1vw;

      .card {
        height: 12vw;
        width: 13vw;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: $card;
        color: $text;

        &__top,&__bottom{
          height: 6vw;
          width: 13vw;
          z-index: 11;
          background: transparent;
          overflow: hidden;
        }
        &__top,&__bottom,&__digit{
          font-size: 10vw;
          font-weight: bold;
        }

        &__top{
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5),
          0 0 0 rgba(0, 0, 0, 0.5);

          &--flip {
            transition: transform 0.6s;
            transform-style: preserve-3d;
            transform-origin: bottom;
          }
        }
        &__bottom{
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5),
                      0 0 0 rgba(0, 0, 0, 0.5);

          &--flip {
            transition: transform 0.6s;
            transform-style: preserve-3d;
            transform-origin: bottom;
          }
          &__text {
            position: relative;
            bottom: 6vw;
            color: #ccccbb;
          }
        }
        &__digit{
          height: 0;
          z-index: 10;
          color: darkolivegreen;
        }
      }
    }
  }
}

@keyframes flip {
  100%{
    transform: rotateX(90deg);
  }
}