@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

$background: #d1d1d1;
$card: white;
$shadow: rgba(0,0,0,0.25);
$text: #b33;

body{
  height: 100vh;
  background: $background;
  font-family: 'Orbitron', sans-serif;
}
#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header{
  position: absolute;
  top: 2vh;
  font-size: 3vw;
  font-weight: 600;
  color: #333;
}

.source{
  position: absolute;
  bottom: 2vh;
  font-weight: 600;
  color: #333;
}

.clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;

  &__segment {
    text-align: center;

    .title{
      padding: 0.75rem;
      font-size: 2vw;
      font-weight: 500;
    }
    .digits {
      display: flex;
      justify-content: center;
      gap: 1vw;

      .card {
        height: 12vw;
        width: 13vw;
        border-radius: 5px;
        background: $card;
        color: $text;

        &__top,
        &__bottom {
          position: absolute;
          height: 6vw;
          width: 13vw;
          font-size: 10vw;
          font-weight: 800;
          background: white;
          display: flex;
          justify-content: center;
          line-height: 1.2;
          overflow: hidden;
        }
        &__top {
          align-items: flex-start;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          box-shadow: -1px -2px 2px $shadow;

          &--flip {
            transform-origin: bottom;
          }
        }
        &__bottom {
          align-items: flex-end;
          margin-top: 6vw;
          border-top: 2px solid $shadow;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          box-shadow: -1px 3px 2px $shadow;

          &--flip {
            transform-origin: top;
            transform: rotateX(90deg);
          }
        }
      }
      .top-flip {
        animation: flip-top 250ms ease-in;
      }
      .bottom-flip {
        animation: flip-bottom 250ms ease-out;
      }
    }
  }
}

@keyframes flip-top {
  50%{
    transform: rotateX(90deg);
  }100%{
     transform: rotateX(90deg);
   }
}
@keyframes flip-bottom {
  50%{
    transform: rotateX(90deg);
  }100%{
     transform: rotateX(0deg);
   }
}