$background: #ccb;
$card: white;
$text: #b33;

body{
  height: 100vh;
  background: $background;
}
#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;

  &__segment {
    text-align: center;

    .title{
      padding: 0.75rem;
    }
    .digits {
      display: flex;
      justify-content: center;
      gap: 1vw;

      .card {
        height: 12vw;
        width: 13vw;
        border-radius: 5px;
        background: $card;
        color: $text;

        &__top,
        &__bottom {
          position: absolute;
          height: 6vw;
          width: 13vw;
          font-size: 10vw;
          background: white;
          display: flex;
          justify-content: center;
          line-height: 1.2;
          overflow: hidden;
        }
        &__top {
          align-items: flex-start;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          &--flip {
            transform-origin: bottom;
          }
        }
        &__bottom {
          align-items: flex-end;
          margin-top: 6vw;
          border-top: 1px solid rgba(0,0,0,0.7);
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

          &--flip {
            transform-origin: top;
            transform: rotateX(90deg);
          }
        }
      }
      .top-flip {
        animation: flip-top 250ms ease-in;
      }
      .bottom-flip {
        animation: flip-bottom 250ms ease-out;
      }
    }
  }
}

@keyframes flip-top {
  50%{
    transform: rotateX(90deg);
  }100%{
     transform: rotateX(90deg);
   }
}
@keyframes flip-bottom {
  50%{
    transform: rotateX(90deg);
  }100%{
     transform: rotateX(0deg);
   }
}